<app-navbar></app-navbar>
<div class="register-container">
    <form [formGroup]="form">
        <!-- Step 1 -->
        <div *ngIf="step === 1">
            <h2>STEP 1 OF 3</h2>
            <p>Finish setting up your account</p>
            <p>Netflix is personalized for you. Create a password to watch on any device at any time.</p>
            <button type="button" (click)="nextStep()">Next</button>
        </div>

        <!-- Step 2 -->
        <div *ngIf="step === 2">
            <h2>STEP 2 OF 3</h2>
            <p>Create a password to start your membership</p>
            <p>Just a few more steps and you're done! We hate paperwork, too.</p>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="info" formControlName="email">
                    <div class="check_email_ok" *ngIf="!email?.errors?.['emailExists'] && !isLoading"></div>
                    <div class="check_email_not" *ngIf="email?.errors?.['emailExists'] && !isLoading"></div>
                    <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                        <p *ngIf="email?.errors?.['required']">Email is required!</p>
                        <p *ngIf="email?.errors?.['emailExists']">This email already exists...</p>
                        <p *ngIf="email?.errors?.['email']">Invalid email!</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="info" formControlName="password">
                    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                        <p *ngIf="password?.errors?.['required']">Password is required!</p>
                        <p *ngIf="!password?.valid">Your password must contain between 4 and 60 characters.</p>
                    </div>
                </div>
                <button (click)="nextStep()" [disabled]="emailAlreadyExist">Next</button>
        </div>

        <!-- Step 3 -->
        <div *ngIf="step === 3">
            <p>STEP 3 OF 3</p>
            <h1>Create a Username and Add your Tmdb Api_Key</h1>
            <p>Just a few more steps and you're done!</p>
            <p>We hate paperwork, too.</p>
                <input type="string" placeholder="Add a username" formControlName="username">
                <div *ngIf="!username?.valid && (username?.dirty || username?.touched)">
                    <p>Username is required!</p>
                </div>
                <input type="string" placeholder="Add a Tmdb Api_Key" formControlName="tmdb_key">
                <div *ngIf="!tmdb_key?.valid && (tmdb_key?.dirty || tmdb_key?.touched)">
                    <p *ngIf="tmdb_key?.errors?.['required']">Tmdb Api_Key is required!</p>
                    <p *ngIf="tmdb_key?.errors?.['minLength']">Tmdb Api_Key is not valid!</p>
                </div>
                <button (click)="onSubmit()">Next</button>
        </div>
    </form>
</div>