main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 30%;
  min-width: 250px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 1) 100%
    );
  padding: 20px;
  border-radius: 10px;
  color: rgb(175, 178, 188);
}

.form-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}

.form-container .info {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: none;
  border: 1px solid rgb(175, 178, 188);
  color: rgb(175, 178, 188);
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: rgb(31, 88, 255);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.form-container .remember-help-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
}

.form-container .remember-help-container span {
  display: flex;
  align-items: center;
}

.form-container .remember-help-container #help {
  text-decoration: none;
  color: rgb(31, 88, 255);
}

.form-container .signup {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.form-container .signup a {
  color: rgb(31, 88, 255);
}
