<header>
    <nav class="navbar">
        <a routerLink="/" class="navbar-brand">
            <img src="../../../assets/logo.png" alt="Logo" />
        </a>
        <div class="navbar-items">
            <a *ngIf="authService.userValue?.jwtToken" routerLink="/movies" class="movieList">Movie List</a>
            <a *ngIf="!authService.userValue?.jwtToken" routerLink="/login" class="login-btn">Sign In</a>
            <a *ngIf="authService.userValue?.jwtToken" (click)="logout()" class="login-btn">Logout</a>
            <span *ngIf="authService.userValue?.jwtToken">Hello, {{authService.userValue.username}}!</span>
        </div>
    </nav>
</header>
