.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;  /* Set a fixed height */
    background: url('../../../../assets/home-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    overflow: auto; /* If content exceeds 800px height, allow scrolling */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: row; /* makes the form items line up in a row */
    align-items: center;
    justify-content: center; /* centers the form items horizontally */
    gap: 0.5rem; /* provides a little space between the form items */
}

input.info {
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
