/* .card {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    color: #ffffff; 
}

.card-content {
    z-index: 2;
    padding: 8rem;
    margin: auto;
}

.card-content h1,
.card-content h3,
.card-content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descriptions {
    width: 40rem;
}

.btn-detail {
    padding: 0 3rem;
    border: 0.1px solid #fff;
    color: #ffffff;
}

.rating {
    margin-top: 5rem;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 100px 100px 250px #000000, inset -100px -100px 250px #000000;
}

.yt-player {
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.5);
}

mat-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FF0000;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}

mat-icon:hover {
    background-color: #808080;
}

.actor-image {
    width: 100px;
    height: 150px; 
    object-fit: cover; 
}

.poster-image {
    width: 200px;
    height: 300px;  
    object-fit: cover; 
} */

.card {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: auto;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    color: #ffffff; 
}

.card-content {
    position: relative;
    height: 50%;
    width: 50%;
    margin: 3% 0 3% 3%;
    padding: 3% 0 3% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    color: #ffffff; 
}

.descriptions, .movie-info, .btn-detail, .rating, .posters h2, .actors h2 {
    width: 100%;
    margin-bottom: 2rem;
}

.posters .list, .actors .list {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

.poster-image {
    height: 10rem;
    width: 15rem;
    padding: 0.5rem;
    object-fit: cover; 
    flex-shrink: 0;
    border-radius: 10px;
}

.actor-image {
    height: 9.5rem;
    width: 5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    object-fit: cover; 
    flex-shrink: 0;
    border-radius: 10%;
}

.btn-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

.btn {
    background-color: rgb(31, 88, 255);
    border: none;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    margin-right: 2.5rem;
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #ffffff; 
}
