.card {
    position: relative;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    color: #ffffff; 
    overflow: hidden; /* added to contain the ::before pseudo-element */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: auto 120%;
    background-attachment: fixed;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px); /* Standard syntax */
    z-index: -1;
    background-image: var(--bg-url);
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    height: 50%;
    width: 50%;
    margin: 3% 0 3% 3%;
    padding: 3% 0 3% 3%;
    align-items: flex-start;
    justify-content: flex-start; 
    color: #ffffff; 
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.descriptions, .movie-info, .btn-detail, .rating, .posters h2, .actors h2 {
    width: 100%;
    margin-bottom: 2rem;
}

.posters .list, .actors .list {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

.poster-image {
    height: 5rem;
    width: 7.5rem;
    padding: 0.5rem;
    object-fit: cover; 
    flex-shrink: 0;
    border-radius: 10px;
}

.actor-image {
    height: 5rem;
    width: 2.5rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
    object-fit: cover; 
    flex-shrink: 0;
    border-radius: 10%;
}

.actorName {
    font-size:small;
}

.btn-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

.btn {
    background-color: rgb(31, 88, 255);
    border: none;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    margin-right: 2.5rem;
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #ffffff; 
}
